{% extends 'base.html.twig' %}

{% block title 'Gérer les biens' %}

{% block body %}
    <div class="container mt-4">
        <h1 class="my-5 display-4">Gérer les biens</h1>

        <!-- Flash messages -->
        {% for label, messages in app.flashes %}
        <div class="container mt-4">
            <div class="alert alert-{{ label }}">
                {% for message in messages %}
                    {{ message | raw }}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Titre</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                {% for property in properties %}
                    <tr>
                        <td>{{ property.title }}</td>
                        <td>
                            <a href="{{ path('admin_property_edit', {'id': property.id}) }}" class="btn btn-secondary"><i class="fas fa-pen mr-2"></i>Éditer</a>
                            <form action="{{ path('admin_property_delete', {'id': property.id}) }}" method="POST" style="display: inline-block;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce bien ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}">
                                <button class="btn btn-danger"><i class="fas fa-trash mr-2"></i>Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <a href="{{ path('admin_property_new') }}" class="btn btn-primary"><i class="fas fa-plus mr-2"></i> Ajouter un bien</a>
        </div>
    </div>
{% endblock %}
