{% extends 'base.html.twig' %}

{% block title property.title %}

{% block body %}

  <div class="jumbotron">
    <div class="container">

      <!-- Flash messages -->
        {% for label, messages in app.flashes %}
        <div class="container mt-4">
            <div class="alert alert-{{ label }}">
                {% for message in messages %}
                    {{ message | raw }}
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        {% if not form.vars.valid %}
          <div class="alert alert-danger">
            Le message n'a pas pu être envoyé :c Veuillez vérifier les champs du formulaire de contact.
          </div>
        {% endif %}

      <div class="row">
        <div class="col-md-8">
        {% if property.fileName %}
          <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('medium') }}" alt="Image du bien : {{ property.title }}" class="card-img-top">
        {% else %}
          <img src="{{ '/images/properties/empty.jpeg' | imagine_filter('medium') }}" alt="Image par défaut" class="card-img-top">
        {% endif %}
        </div>
        <div class="col-md-4">
          <h1 class="display-4 my-5">{{ property.title }}</h1>
          <h2>{{ property.rooms }} pièces - {{ property.surface }}m²</h2>
          <div class="text-dark" style="font-size: 3rem; font-weight: bold">{{ property.formattedPrice }} &euro;</div>
          <a href="#" 
             class="btn btn-success"
             id="contactButton"  
             {% if form.vars.submitted %}
               style="display: none;"
             {% endif %}
             >
             Contacter l'agence
            </a>
          <div id="contactForm" 
               class="mt-4" 
               {% if not form.vars.submitted %}
                  style="display: none;"
               {% endif %}
                >
            {% include 'property/_contact-form.html.twig' %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">

    <p>
      {{ property.description|nl2br }}
    </p>

    <div class="row">
      <div class="col-md-8">
        <h2>Caractéristiques</h2>
        <table class="table table-striped">
          <tr>
            <td>Surface habitable</td>
            <td>{{ property.surface }} m²</td>
          </tr>
          <tr>
            <td>Pièces</td>
            <td>{{ property.rooms }}</td>
          </tr>
          <tr>
            <td>Chambres</td>
            <td>{{ property.bedrooms }}</td>
          </tr>
          <tr>
            <td>Étages</td>
            <td>{{ property.floor }}</td>
          </tr>
          <tr>
            <td>Chauffage</td>
            <td>{{ property.heatType }}</td>
          </tr>
        </table>
      </div>

      <div class="col-md-4">
        <h2>Spécificités</h2>
        <ul class="list-group">
        {% for option in property.options %}
          <li class="list-group-item">{{ option.name }}</li>
        {% endfor %}
        </ul>
      </div>
    </div>

  </div>

{% endblock %}